.red,
.blue,
.green {
    position: absolute;
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
    z-index: 1;
}

.blue {
    background-color: blue;
    transform: translate(50px, 50px);
    z-index: 3;
}

.green {
    background-color: green;
    transform: translate(100px, 100px);
    z-index: 2;
}